h1{
    text-align: center;
}

#menu{
display:flex;
justify-content:center;
}
ul{
    display: flex;
    flex-direction:row;
}

ul li{
    margin-right: 20px;
}


#articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#articles h1{
    text-align: left;
}

#article2 p{
    width: 900px;
}

footer h2{
    text-align: left;
}