h1{
    text-align: center;
}
#tchat{
    border: 2px blue solid;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    margin-right: 100px;
}

#left4{
    background-color: lightgray;
}
#left8{
    background-color: lightgray;
}
#left12{
    background-color: lightgray;
}
#Utilisateur{
    border: 2px blue solid;
    border-radius: 5px;
    display: flex;
    margin-right: 100px;
}

#jm{
    display: flex;
    align-items: center;

}

#Utilisateur ul li{
    display: flex;
    flex-direction: column;
    padding-right: 36px;
}
#Utilisateur{
    padding: 20px 20px;
}